/*body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}*/
html{
    position: absolute;
    height: 100%;
    top: 0;
    bottom:0;
    left:0;
    right:0;
}
body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    height: 100%;
}
footer{
    font-size: 0.8em;
    /*float: bottom;*/
    /*position: absolute;*/
    bottom: 0;
    background-color: #d7d4f0;
    text-align: center;
}


.header-div {
    display: inline;
}

.sf-head {
    float: top;
    width: 100%;
    height: 30px;
    padding: 3px;
    background-color: #FFFFFF;
    border-style: outset none outset none;
    border-bottom: 1px solid #8D8D8D;
    min-width: 1000px;
}

.sf-center {
    height: auto;
    min-height: 1000px;
    width: 70%;
    margin: auto 5% auto 5%;
}

.box {
    width: 100%;
    height: auto;
    min-width: 1000px;
}

.abox-list {
    width: 50%;
    min-width: 500px;
    height: 400px;
}

.abox-title {
    min-height: 40px;
    max-height: 50px;
    background-color: #e8ffcc;
    position: relative;
    overflow: hidden;
}

.i-title {
    margin: 0;
    color: white;
    float: left;
    height: 100%;
}

.i-more {
    /*position: absolute;*/
    float: right;
    color: white;
    height: 100%;
}

.abox-img {
    float: left;
    width: 25%;
    /*min-width: 100px;*/
}

.abox-img-a {
    float: left;
    margin: 1px;
}

.abox-wt-list {
    float: right;
    width: 60%;
    margin: 5px;
    padding: 5px;
}

/* login 表单样式*/
.sf-form {
    background-color: #ffffff;
    width: 390px;
    height: 250px;
    min-width: 390px;
    /*border: 2px solid gainsboro;*/
    border-radius: 5px;
    box-shadow: #8D8D8D 3px 3px 3px 3px;
    /*border-radius: 25px;*/
    /*border-style: wave;*/
    padding: 10px;
    margin: 20% auto;
}
/*注册表单div样式*/
.sf-register-form{
    background-color: #ffffff;
    width: 700px;
    /*height: auto;*/
    /*min-width: 400px;*/
    border-radius: inherit;
    border-style: wave;
    padding: 10px;
    margin: 20% auto;
}

.sf-div-input {
    margin: 10px auto 10px auto;
}

.sf-loginbtn {
    width: 60px;
    height: 30px;
    /*border: 1px solid #989898;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #ccc;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666;
}
.article{
    width: auto;
    min-height: 800px;
}

.login-body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
    margin: 10px;
}
/* 书法文章标题输入框的样式*/
#article-title{
    outline-style: none;
    border: 0px;
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS",
      Monaco, monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei",
      FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;


}