<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head th:replace="header::head-fragment(title,path)"></head>
<body style="height: 100%">
<header class="sf-head" th:replace="header::header-fragment"></header>
<nav th:replace="header::nav-fragment"></nav>
<!--中间部分-->
<div class="sf-center container">
    <!--    路径导航-->
    <ol class="breadcrumb">
        <li><a th:href="@{~/shufa/index}">首页</a></li>
        <li class="active"><a th:href="@{~/shufa/english}" th:text="${article.getTopic()}">英文书法</a></li>
        <li th:text="${article.getName()}">正文</li>
    </ol>
    <div class="Card article">
        <div class="article-title">
            <h2 th:text="${article.getName()}"></h2>
            <div class="article-title-more">
                <p th:text="${article.getId()}" style="display: none"></p>
                <div class="div-article-author">
                    <a id="author" th:text="${article.getAuthor()}"></a>
                </div>
                <div class="div-article-author">
                    <p th:text="'发布于:  '+${article.getPublishTime()}"></p>
                </div>
            </div>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #555555;"/>
        <div id="article-body" th:text="${article.getText()}"></div>
    </div>
    <div class="div-pre-next">
        上一篇：<a href="#">嘎嘎嘎嘎嘎</a>
        下一篇: <a href="#">fagagagag</a>
    </div>
    <!--    评论区  -->
    <div class="container form-group div-comment">
        <h3 class="title-comment">评论</h3>
        <textarea id="comment" class="form-control input-comment-textarea" rows="1" spellcheck="false"
                  style="overflow: auto hidden;box-sizing: border-box;height: 80px;width: 90%;
                  direction: ltr;"></textarea>
        <button class="btn btn-primary text-danger" onclick="submitComment()">发布</button>
    </div>
    <!--    评论展示区-->
    <div>
        <p>评论1</p>
    </div>

</div>
<div th:replace="footer.html"></div>
</body>
<script>
    function submitComment() {
        var comment = $("#comment").val().trim();
        if (comment === "") {
            alert("请输入评论");
        } else {
            var data = {"comment": comment};
            $.ajax({
                ype: "POST",
                url: "[[@{/submitcomment}]]",
                data: data,
                success: function (msg) {
                    alert("发表评论成功");
                },
                error: function (msg) {
                    alert("发表评论失败");
                }
            });

        }
    }
</script>
</html>