<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>书法学习网</title>
</head>
<body>
<!--头部广告或者相关链接-->
<header>这是头 部</header>
<!--导航栏-->
<div class="sf-nav">
    <ul class="nav nav-tabs">
        <li class = "active"><a href="#">首页</a></li>
        <li><a href="#">书法作品欣赏</a></li>
        <li><a href="#">名人书法欣赏</a></li>
        <li><a href="#">书法字体</a></li>
        <li><a href="#">毛笔书法教程</a></li>
        <li><a href="#">钢笔书法教程</a></li>
        <li><a href="#">硬笔书法教程</a></li>
        <li><a href="#">英语书法</a></li>
        <li><a href="#">书法资料</a></li>
    </ul>
</div>
<!--博客主页-->
<div style="height: 900px;width: 90%;background: aquamarine" class="container">
    <div class="row">
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>一、什么是书法
                　　书法，植根于中华广袤而肥沃的文化土壤．是中华传统文化的核心要素之一。与汉字共生的书法，数千年来以其朴素简洁的点画．滋生繁衍出流美生辉的艺术作品．
                与诗词绘画并行于博大精深的华夏艺术殿堂，给世人以至上的视觉审美享受和永恒的精神人格滋养。
                　　“书法”一词，对我们而言，是司空见惯、耳熟能详的，但具体何谓书法?未必人人都能清楚界定。按字面理解，写字日“书”，写字之法谓“书法”。书法即书写汉字的方法。
                　　不过，严格说来．书法不仅是一种书写汉字的方法，也不仅仅是一种单纯的汉字表现艺术。诚如北大王岳川教授所说：“手法从来就不是单纯的艺术现象，而是一种复杂的文化现象。
                ”事实上．书法的内涵外延是颇为丰富的。因为。从民族文化的层面审视，“什么是书法”已涉及书法本质特征的问题。</p>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>
                、书法的本质特征
                　　首先，书法是中华民族特有的艺术。书法与汉字共生，书法离不开汉字。与世界其他民族语言的文字相比，以形表意的方块汉字是具有丰富艺术潜质的文字。
                虽然人类早期使用以形 表意文字的民族并不仅仅是汉民族，还有诸如埃及的圣书字、苏美尔的楔形文字、玛雅人的玛雅文字等，但它们由于各种原因，或消失．或被拼音文字取代，最
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>一、什么是书法
                　　书法，植根于中华广袤而肥沃的文化土壤．是中华传统文化的核心要素之一。与汉字共生的书法，数千年来以其朴素简洁的点画．滋生繁衍出流美生辉的艺术作品．
                与诗词绘画并行于博大精深的华夏艺术殿堂，给世人以至上的视觉审美享受和永恒的精神人格滋养。
                　　“书法”一词，对我们而言，是司空见惯、耳熟能详的，但具体何谓书法?未必人人都能清楚界定。按字面理解，写字日“书”，写字之法谓“书法”。书法即书写汉字的方法。
                　　不过，严格说来．书法不仅是一种书写汉字的方法，也不仅仅是一种单纯的汉字表现艺术。诚如北大王岳川教授所说：“手法从来就不是单纯的艺术现象，而是一种复杂的文化现象。
                ”事实上．书法的内涵外延是颇为丰富的。因为。从民族文化的层面审视，“什么是书法”已涉及书法本质特征的问题。</p>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>
                、书法的本质特征
                　　首先，书法是中华民族特有的艺术。书法与汉字共生，书法离不开汉字。与世界其他民族语言的文字相比，以形表意的方块汉字是具有丰富艺术潜质的文字。
                虽然人类早期使用以形 表意文字的民族并不仅仅是汉民族，还有诸如埃及的圣书字、苏美尔的楔形文字、玛雅人的玛雅文字等，但它们由于各种原因，或消失．或被拼音文字取代，最
            </p>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>
                、书法的本质特征
                　　首先，书法是中华民族特有的艺术。书法与汉字共生，书法离不开汉字。与世界其他民族语言的文字相比，以形表意的方块汉字是具有丰富艺术潜质的文字。
                虽然人类早期使用以形 表意文字的民族并不仅仅是汉民族，还有诸如埃及的圣书字、苏美尔的楔形文字、玛雅人的玛雅文字等，但它们由于各种原因，或消失．或被拼音文字取代，最
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>一、什么是书法
                　　书法，植根于中华广袤而肥沃的文化土壤．是中华传统文化的核心要素之一。与汉字共生的书法，数千年来以其朴素简洁的点画．滋生繁衍出流美生辉的艺术作品．
                与诗词绘画并行于博大精深的华夏艺术殿堂，给世人以至上的视觉审美享受和永恒的精神人格滋养。
                　　“书法”一词，对我们而言，是司空见惯、耳熟能详的，但具体何谓书法?未必人人都能清楚界定。按字面理解，写字日“书”，写字之法谓“书法”。书法即书写汉字的方法。
                　　不过，严格说来．书法不仅是一种书写汉字的方法，也不仅仅是一种单纯的汉字表现艺术。诚如北大王岳川教授所说：“手法从来就不是单纯的艺术现象，而是一种复杂的文化现象。
                ”事实上．书法的内涵外延是颇为丰富的。因为。从民族文化的层面审视，“什么是书法”已涉及书法本质特征的问题。</p>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>
                、书法的本质特征
                　　首先，书法是中华民族特有的艺术。书法与汉字共生，书法离不开汉字。与世界其他民族语言的文字相比，以形表意的方块汉字是具有丰富艺术潜质的文字。
                虽然人类早期使用以形 表意文字的民族并不仅仅是汉民族，还有诸如埃及的圣书字、苏美尔的楔形文字、玛雅人的玛雅文字等，但它们由于各种原因，或消失．或被拼音文字取代，最
            </p>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-1" style="background-color: brown;box-shadow: inset 1px -1px 1px #888,inset -1px 1px 1px #888">
            <p>
                、书法的本质特征
                　　首先，书法是中华民族特有的艺术。书法与汉字共生，书法离不开汉字。与世界其他民族语言的文字相比，以形表意的方块汉字是具有丰富艺术潜质的文字。
                虽然人类早期使用以形 表意文字的民族并不仅仅是汉民族，还有诸如埃及的圣书字、苏美尔的楔形文字、玛雅人的玛雅文字等，但它们由于各种原因，或消失．或被拼音文字取代，最
            </p>
        </div>
    </div>
</div>
<!--尾部 链接 版权说明-->
<footer>
    Copyrigh@2019-2020 书法学习网 版权所有
</footer>
</body>
</html>