<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>书法学习网</title>
</head>
<body>
<!--头部广告或者相关链接-->
<header class="sf-head">
    <!--头部左侧 时间日期 天气-->
    <div class="header-div" style="float: left">
        2019/11/23  10:26:33 晴  30摄氏度
    </div>
    <!--中间logo部分-->
    <div class="header-div" style="float: top">
        <a href="index.html">书法学习网</a>
    </div>
    <!--右侧登录用户信息-->
    <div class="header-div" style="float: right">
        <a href="login">用户登录</a>/<a href="register">注册</a>
    </div>
</header>
<!--导航栏-->
<div class="sf-nav">
    <ul class="nav nav-tabs">
        <li class = "active"><a href="#">首页</a></li>
        <li><a href="#">书法作品欣赏</a></li>
        <li><a href="#">名人书法欣赏</a></li>
        <li><a href="#">书法字体</a></li>
        <li><a href="#">毛笔书法教程</a></li>
        <li><a href="#">钢笔书法教程</a></li>
        <li><a href="#">硬笔书法教程</a></li>
        <li><a href="#">英语书法</a></li>
        <li><a href="#">书法资料</a></li>
    </ul>
</div>
<!--中间部分-->
<div style="height: 900px;width: 70%;margin: auto 15% auto 15%;background: aquamarine" class="sf-center">
    <div class="box">
        <div class="abox-list">
            <h3 class="i-title">
                <b>最新文章</b>
            </h3>
            <p>
                <a href="">更多>></a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>最热文章</b>
            </h3>
            <p>
                <a href="">更多>></a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>书法作品欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>名人书法欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>毛笔书法欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>钢笔书法欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>硬笔书法欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>英语书法欣赏</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
        <div class="abox-list">
            <h3 class="i-title">
                <b>书法资料</b>
            </h3>
            <p>
                <a href="">更多</a>
            </p>
        </div>
    </div>
</div>
<!--尾部 链接 版权说明-->
<footer>
    <p>Copyright @2019-2020 书法学习网 版权所有
    <p>我们采用的作品包括内容和图片全部来源于网络用户和读者投稿，我们不确定投稿用户享有完全著作权，根据《信息网络传播权保护条例》，
        如果侵犯了你的权利，请联系:1369990551@qq.com, 我站将及时删除。</p>
</footer>
</body>
</html>