<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>登录-书法学习网</title>
</head>
<!--th:style="'background-image:url('+@{images/background2.png}+')'">-->
<body class="login-body" style=" background:linear-gradient(45deg,#4bb0ca 0,#ebc45c 100%)">
<div class="sf-form">
    <div class="input-group sf-div-input">
        <span class="input-group-addon" id="basic-addon1">用户</span>
        <input type="text" class="form-control" placeholder="username" id="username">
    </div>
    <div class="input-group sf-div-input">
        <span class="input-group-addon" id="basic-addon2">密码</span>
        <input type="password" class="form-control" placeholder="password" id="pwd">
    </div>
    <div class="sf-div-input">
        <img th:src="@{defaultKaptcha}">
        <input type="text" id="tryCode" name="tryCode" style="width: 60px">
    </div>
    <div class="sf-div-input">
        <input type="checkbox" class="checkbox" style="float: left">
        <span class="text-info">记住密码</span>
        <a class="text-danger" style="float: right" th:href="@{remenmber}">忘记密码</a>
    </div>
    <button class="btn btn-success btn-block" style="float: right" onclick="login()">登陆</button>
</div>
</body>
<script>
    // var map = new Map();
    function login() {
        var username = $("#username").val().trim();
        var pwd = $("#pwd").val().trim();
        var code = $("#tryCode").val().trim();
        if (username === "") {
            alert("请填写账号");
        } else if (pwd === "") {
            alert("请填写密码");
        } else if (code === "") {
            alert("请填写验证码")
        } else {
            var data = {"username": username, "pwd": pwd,"tryCode":code};
            $.ajax({
                type: "POST",
                url: "[[@{/login/submit}]]",
                data: data,
                success: function (msg) {
                    console.log(msg);
                    switch (msg) {
                        case "OK":
                            window.location.href = "/shufa/login/" + username;
                            break;
                        case "PWDError":
                            alert("密码错误...");
                            break;
                        case "USERError":
                            alert("账号错误...");
                            break;
                    }
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    }

</script>
</html>