<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>登录-书法学习网</title>
</head>
<body class="login-body">
<div class="sf-form">
    <div class="input-group sf-div-input">
        <span class="input-group-addon" id="basic-addon1">用户</span>
        <input type="text" class="form-control" placeholder="username" id="username">
    </div>
    <div class="input-group sf-div-input">
        <span class="input-group-addon" id="basic-addon2">密码</span>
        <input type="text" class="form-control" placeholder="password" id="pwd">
    </div>
    <div class="sf-div-input">
        <input type="checkbox" class="checkbox" style="float: left">
        <span class="text-info">记住密码</span>
        <a class="text-danger" style="float: right" th:href="@{remenmber}">忘记密码</a>
    </div>
    <button class="btn btn-success btn-block" style="float: right" onclick="login()">登陆</button>
</div>
</body>
<script>
    // var map = new Map();
    function login() {
        var data = {username:$("#username").val(),password:$("#pwd").val()};
        console.log(data);
        $.ajax({
            type: "POST",
            url: "[[@{/login/submit}]]",
            data: JSON.stringify(data),
            // dataType: "json",
            success: function (msg) {
                alert("登陆成功,即将转到首页"+msg);
                // location.href()
            },
            error:function (msg) {
                alert("请您输入正确的密码" + msg);
                // location.href();
            }
        });
    }

</script>
</html>