<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>发布文章</title>
    <script type="text/javascript"
            th:src="@{{path}/webjars/jquery/3.0.0/jquery.min.js(path=${#request.getContextPath()})}"></script>
    <script type="text/javascript"
            th:src="@{{path}/plugins/editormd/editormd.js(path=${#request.getContextPath()})}"></script>
    <link rel="stylesheet"
          th:href="@{{path}/plugins/editormd/css/editormd.min.css(path=${#request.getContextPath()})}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <script th:src="@{{path}/webjars/bootstrap/3.3.7/js/bootstrap.min.js(path=${#request.getContextPath()})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{{path}/css/common.css(path=${#request.getContextPath()})}">
    <link rel="stylesheet" type="text/css"
          th:href="@{{path}/webjars/bootstrap/3.3.7/css/bootstrap.min.css(path=${#request.getContextPath()})}">
</head>
<body style="height: 100%">
<header class="sf-head" th:replace="header::header-fragment"></header>
<nav th:replace="header::nav-fragment"></nav>
<!--文章发布主体-->
<form class="sf-center">
<!--    <label for="article_title">-->
        <input id="article_title" class="input-article-title" type="text" placeholder="请输入文章标题">
<!--    </label>-->
    <div id="test-editormd">
        <label for="editormd-markdowm"></label>
        <textarea style="display:none;" id="editormd-markdowm" name="editormd-markdown"></textarea>
        <!--        第二个隐藏文本域，用来构造生成的HTML方法，方便表单POST提交，这里的name可以任意取后台接收以这个name为准-->
        <label for="editormd-text"></label>
        <textarea class="editormd-html-textarea" id="editormd-text" name="editormd-text"></textarea>
    </div>
    <div id="more_information">
        <div class="div-more-select">
            <label>文章标签:</label>
            <button type="button" class="btn text-danger">
                <span class="glyphicon glyphicon-plus">添加文章标签</span>
            </button>
        </div>
        <div class="div-more-select">
            <label for="type">分类专栏:</label>
            <select id="type">
                <option th:each="moduleName:${moduleNames}" th:text="${moduleName}"></option>
            </select>
        </div>
        <div class="div-more-select">
            <label for="module">字体类型:</label>
            <select id="module">
                <option th:each="typeName:${typeNames}" th:text="${typeName}"></option>
            </select>
        </div>
        <div class="div-more-select">
            <button class="btn text-danger" onclick="submitArticle()">发布文章</button>
            <button class="btn" onclick="saveArticle()">保存草稿</button>
            <button class="btn" onclick="window.history.back(-1)">返回</button>
        </div>
    </div>
</form>
<div th:replace="footer.html"></div>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", { //div的id属性值
            width: "90%",
            height: 720,
            syncScrolling: "single",
            // theme: "dark",
            tex: true,
            flowChart: true,
            path: "[[@{plugins/editormd/lib/}]]",  // 路径
            saveHTMLToTextarea: true,  // 方便posy提交表单
            toolbarAutoFixed: true,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/uploadimg",
            onload: function () {
                this.width("100%");
                this.height(720);
            }
        });
    });

    // 提交文章表单
    function submitArticle() {
        var title = $("#article_title").val();
        var content = $("#editormd-markdowm").val();
        var text = $("#editormd-text").val();
        var type = $("#type").val();
        var module = $("#module").val();
        var data = {"title": title, "content": content, "text": text,"type":type,"module":module};
        console.log(text);
        if (title.trim() === "") {
            alert("请填写文章标题");
            return;
            ;
        }
        if (content.trim() === "") {
            alert("请填写文章内容");
            // return;
        } else {
            $.ajax({
                type: "POST",
                url: "[[@{submitarticle}]]",
                data: data,
                success: function (msg) {
                    alert("发布成功");
                },
                error: function (msg) {
                    alert("发布失败");
                }
            });
        }
    }

    /**
     * 保存表单
     */
    function saveArticle() {
        alert("表单已保存");
    }
</script>
</body>
</html>