<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>书法文章名字-书法学习网</title>
</head>
<body>
<!--头部广告或者相关链接-->
<header class="sf-head">
    <!--头部左侧 时间日期 天气-->
    <div class="header-div" style="float: left">
        2019/11/23 10:26:33 晴 30摄氏度
    </div>
    <!--中间logo部分-->
    <div class="header-div" style="margin: 0 auto;text-align: center">
        <a th:href="@{index/}">书法学习网</a>
    </div>
    <!--右侧登录用户信息-->
    <div class="header-div" style="float: right">
        <a th:href="@{login}">用户登录</a>/<a th:href="@{register}">注册</a>
    </div>
</header>
<!--导航栏-->
<nav class="navbar navbar-default" role="navigation" style="background-color: #34b7a7;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" style="color: #ffffff">首页</a>
        </div>
        <div>
            <!--向左看齐-->
            <ul class="nav navbar-nav navbar-left">
                <!--        <li class="active"><a th:href="@{index/}">首页</a></li>-->
                <li><a th:href="@{famous}" style="color: #ffffff">书法作品欣赏</a></li>
                <li><a th:href="@{famous}" style="color: #ffffff">名人书法欣赏</a></li>
                <li><a th:href="@{font}" style="color: #ffffff">书法字体</a></li>
                <li><a th:href="@{writingbrush}" style="color: #ffffff">毛笔书法教程</a></li>
                <li><a th:href="@{pen}" style="color: #ffffff">钢笔书法教程</a></li>
                <li><a th:href="@{hardpen}" style="color: #ffffff">硬笔书法教程</a></li>
                <li><a th:href="@{english}" style="color: #ffffff">英语书法</a></li>
                <li><a th:href="@{resources}" style="color: #ffffff">书法资料</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--中间部分-->

<!--尾部 链接 版权说明-->
<footer>
    <p>Copyright @2019-2020 书法学习网 版权所有
    <p>我们采用的作品包括内容和图片全部来源于网络用户和读者投稿，我们不确定投稿用户享有完全著作权，根据《信息网络传播权保护条例》，
        如果侵犯了你的权利，请联系:1369990551@qq.com, 我站将及时删除。</p>
</footer>
</body>
</html>