<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/common.css}" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>书法学习网</title>
</head>
<body>
<!--头部广告或者相关链接-->
<header class="sf-head">
    <!--头部左侧 时间日期 天气-->
    <div class="header-div" style="float: left">
        2019/11/23 10:26:33 晴 30摄氏度
    </div>
    <!--中间logo部分-->
    <div class="header-div" style="margin: 0 auto;text-align: center">
        <a th:href="@{index/}">书法学习网</a>
    </div>
    <!--右侧登录用户信息-->
    <div class="header-div" style="float: right">
        <a th:href="@{login}">用户登录</a>/<a th:href="@{register}">注册</a>
    </div>
</header>
<!--导航栏-->
<nav class="navbar navbar-default" role="navigation" style="background-color: #34b7a7;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" style="color: #ffffff">首页</a>
        </div>
        <div>
            <!--向左看齐-->
            <ul class="nav navbar-nav navbar-left">
                <!--        <li class="active"><a th:href="@{index/}">首页</a></li>-->
                <li><a th:href="@{famous}" style="color: #ffffff">书法作品欣赏</a></li>
                <li><a th:href="@{famous}" style="color: #ffffff">名人书法欣赏</a></li>
                <li><a th:href="@{font}" style="color: #ffffff">书法字体</a></li>
                <li><a th:href="@{writingbrush}" style="color: #ffffff">毛笔书法教程</a></li>
                <li><a th:href="@{pen}" style="color: #ffffff">钢笔书法教程</a></li>
                <li><a th:href="@{hardpen}" style="color: #ffffff">硬笔书法教程</a></li>
                <li class="active"><a th:href="@{english}" style="color: #ffffff">英语书法</a></li>
                <li><a th:href="@{resources}" style="color: #ffffff">书法资料</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--中间部分-->
<div class="sf-center container">
    <!--    路径导航-->
    <ol class="breadcrumb">
        <li><a th:href="@{/}">首页</a></li>
        <li class="active"><a th:href="@{english}">英文书法</a></li>
    </ol>
    <!--    主页内容抬头简介-->
    <h4>英文书法作品欣赏</h4>
    <p>英文书法频道为大家分享一些优雅的英文书法字体以及一些英文书法的自学资料,包括有英文字体书写技巧/英文习题练习要点/英文字体设计英文书法作品欣赏等.</p>
    <!--    每个功能模块的div-->
    <div>
        <h4>英语书法的知识</h4>
        <p>　英文作为一种国际通用语言的重要性已经得到了我国基础教育的普遍认可。英文书法相对于汉语书法而言,其实要简单的多，写好英文文字则没有引起社会的足够重视。
            其实写得一手漂亮的英文书法字体也很重要的.....<a href="">阅读更多>></a></p>
    </div>
    <!--    最新文章-->
    <div class="container" style="margin: 0;padding:0;">
        <h4>《英文书法》热门文章</h4>
        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
        <ul>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
            <li>商务常用的英文字体</li>
        </ul>
    </div>

</div>
<!--尾部 链接 版权说明-->
<footer>
    <p>Copyright @2019-2020 书法学习网 版权所有
    <p>我们采用的作品包括内容和图片全部来源于网络用户和读者投稿，我们不确定投稿用户享有完全著作权，根据《信息网络传播权保护条例》，
        如果侵犯了你的权利，请联系:1369990551@qq.com, 我站将及时删除。</p>
</footer>
</body>
</html>